<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title text-center cHead">Example</h5>
          <hr>
          <p class="text-center">
            <strong>ID:</strong> {{example.id}}</p>
          <p>
          <p class="text-center">
            <strong>Text:</strong> <br> {{example.text}}</p>
          <p class="text-center">
            <strong>Description:</strong> <br> {{example.description}}</p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
