<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="headerText text-center">
        Welcome Back!
      </h1>
    </div>
  </div>
  <div class="row logInInput">
    <div class="col-10 offset-1">
      <div class="row">
        <div class="col">
          <div class="input-group mb-3">
            <input id="user-entry" type="text" class="form-control" placeholder="User Name" aria-label="email"
              aria-describedby="basic-addon1">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="input-group mb-3">
            <input id="password-entry" type="password" class="form-control" placeholder="Password"
              aria-label="firstName" aria-describedby="basic-addon1">
          </div>
        </div>
      </div>
      <div class="row justify-content-end">
        <div class="col-5">
          <a href="/index">
            <button id="home-button" type="button" class="text-center btn btn-link">Home</button>
          </a>
        </div>
        <div class="col-4">
          <button id="login-btn" type="button" class="text-center btn btn-link">Log In</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row pwFooter">
    <div class="col-6 offset-3">
      <p class="forgotPW text-center">Forgot your password? Click <a href="#">here.</a></p>
    </div>
  </div>
  <div class="row footer">
    <div class="col-12">
      <p class="text-center">Copyright 2019</a></p>
    </div>
  </div>
</div>



<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/js/login.js" type="text/javascript" async defer></script>