<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Register With Us!</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/styles/register.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="headerText text-center">
                    Register
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h5 class="subHeader text-center">
                    Just a little info to get started
                </h5>
            </div>
            <div class="row newUserInput">
                    <div class="col-10 offset-1">
                        <div class="row">
                            <div class="col">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text" id="basic-addon1"><i class="fas fa-envelope"></i></span>
                                    </div>
                                    <input id="email" type="email" class="form-control" placeholder="E-Mail" aria-label="email" aria-describedby="basic-addon1" autocomplete="on">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="input-group mb-3">
                                    <input id="firstName" type="text" class="form-control" placeholder="First Name" aria-label="firstName" aria-describedby="basic-addon1" autocomplete="on">
                                </div>
                            </div>
                            <input id="email" type="email" class="form-control" placeholder="E-Mail" aria-label="email"
                                aria-describedby="basic-addon1">
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="input-group mb-3">
                                    <input id="lastName" type="text" class="form-control" placeholder="Last Name" aria-label="firstName" aria-describedby="basic-addon1" autocomplete="on">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="input-group mb-3">
                                    <input id="userName" type="text" class="form-control" placeholder="User Name" aria-label="firstName" aria-describedby="basic-addon1" autocomplete="off">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="input-group mb-3">
                                    <input id="password1" type="password" class="form-control" placeholder="Enter a password" aria-label="firstName" aria-describedby="basic-addon1">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="input-group mb-3">
                                    <input id="password2" type="password" class="form-control" placeholder="Confirm Password" aria-label="firstName" aria-describedby="basic-addon1">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div id="password-div" class="input-group mb-3">
                            <input id="password2" type="text" class="form-control" placeholder="Confirm Password"
                                aria-label="password2" aria-describedby="basic-addon1">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <select class="custom-select" id="inputGroupSelect01">
                                <option selected>Account Type</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="col-4">
                        <button id="registerButton" type="button" class="text-center btn btn-link">Register</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row footer">
            <div class="col-12">
                <p class="text-center">Copywrite 2019</a></p>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="../public/js/index.js" async defer></script>
</body>

</html>