<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>farmShare</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="../public/styles/styles.css">
    </head>
    <body>
        <div class="container">
            <div class="row sticky-top topRow">
                <div class="col">
                    <h1 class="headerText text-center">
                        farmShare
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5 class="subHeader text-center">
                        What's currently available:
                    </h5>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-8">
                    <div class="card">
                        <img src="../views/photos/citron-154449_960_720.png" class="card-img-top" alt="Lemon">
                        <div class="card-body">
                            <h5 class="card-title text-center">Lemons in Berkeley</h5>
                            <p class="card-text text-center">Details go hurr<br>date/time</p>
                            <div class="col-6 offset-3">
                                <a href="#" class="btn btn-link text-center">Contact</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-6">
                    <div class="card" style="width: 10rem;">
                        <img src="../views/photos/citron-154449_960_720.png" class="card-img-top" alt="Lemon" style="max-width: 10rem">
                        <div class="card-body">
                          <h5 class="card-title">Lemons in Berkeley</h5>
                          <p class="card-text">Details go hurr<br>date/time</p>
                          <a href="#" class="btn btn-link">Contact</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-6">
                    <div class="card" style="width: 10rem;">
                        <img src="../views/photos/citron-154449_960_720.png" class="card-img-top" alt="Lemon" style="max-width: 10rem">
                        <div class="card-body">
                          <h5 class="card-title">Lemons in Berkeley</h5>
                          <p class="card-text">Details go hurr<br>date/time</p>
                          <a href="#" class="btn btn-link">Contact</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row footer">
                <div class="col-12">
                    <p class="text-center pFooter">Copywrite 2019</a></p>
                </div>
            </div>
        </div>
       
        

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="../public/js/welcomePage.js" async defer></script>
    </body>
</html>