* {
    border: 6px double rgb(88, 34, 34);
    min-height: 100vh;
    position: sticky;
}

.list-group-item {
    line-height: 2.5;
  }
  
  @font-face {
    font-family: orangejuice;
    src: url("../font/orange\ juice\ 2.0.ttf")
  }
  
  @font-face {
    font-family: fingerpaint;
    src: url("../font/FingerPaint-Regular.ttf")
  }
  
  body {
    background-color: rgb(253, 243, 224);
    min-height: 100%;
  }
  
  .headerText {
    font-family: orangejuice;
    color: rgb(243, 130, 1);
    font-size: 85px;
    margin-top: 3vh;
    background-color: rgb(253, 243, 224);
  }

  .topRow {
    background-color: rgb(253, 243, 224); 
  }
  
  .homePageRow {
    margin-top: 25vh;
  }
  
  .register {
    color: black !important;
  }
  
  .logIn {
    color: black !important;
  }
  
  .subHeader {
    font-family: fingerpaint;
    color: rgb(243, 174, 1);
    margin-top: -1vh;
  }
  
  .homePage {
    border: 3px double rgb(243, 174, 1);
    background-color: rgba(243, 130, 1, .1);
    font-family: fingerpaint;
    min-width: 110px;
    padding: 15px;
  }
  
  .homePage:hover {
    background-color: rgba(243, 130, 1, .3);
    transition-duration: 0.2s;
  }
  
  .forgotPW {
    font-size: 10px;
  }
  
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(253, 243, 224);
  }

  .pFooter {
    background-color: rgb(253, 243, 224) !important;
    z-index: 2;
  }
  
  /* .container {
    border: 6px double rgb(88, 34, 34);
    min-height: 100vh;
  } */